.mw600px        { max-width: 600px; } 
.mb-very-small  { margin-bottom: 0.1rem; }
body            { font-size: 1rem; }
a               { display: inline; }
a.from          { color: #212529; }
a.delete        { color: #212529; }
.vote-icon      { font-size: 1.5rem; color: var(--purple); margin-bottom: 0.2rem;}
.uppernav       { background-color: var(--purple);}
.main_column    { background-color: #f6f6ef; }
.col-main       { background-color: #f6f6ef; }

.entry-row          { vertical-align: middle; }
  .rank-col         { vertical-align: middle; text-align: right;   font-size: 300%; }
  .arrow-col        { vertical-align: middle; text-align: center; }
    form.arrows     { vertical-align: middle; margin: auto;       }
      .updowngrid   { vertical-align: middle; margin: auto; padding: 0px;  }
      .updowngrid a { display: grid; }
    form.delete     { margin: auto; display: inline-grid;      }
   .titlescore-col   { vertical-align: middle; text-align: left; display: inline-grid; padding-right: 0px;}
     .titlescore     {                         text-align: left; display: inline-grid; margin: auto auto auto 0px;}
   .submitter-name a { color: black; }

.updowngrid.hidden {visibility: hidden; }

.col-github-blue    { background-color: #4078c0; }



@media screen and (max-width: 420px) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left:  0px;
    margin-right: auto;
    margin-left:  auto;
  }    
}

@media screen and (min-width: 420px) {
    body { margin-top: 2rem; margin-bottom: 2rem; }
}
